
.prices {
    &-container {
        background: url("../../../../assets/img/mla_img_2_1920x1078.png");
        background-size: 100% auto;
        background-repeat: no-repeat;
        clear: both;
        width: 100%;
        min-height: 100vh;
    }
}