
.prices {
    &-container {
        background: url("../../../../assets/img/mla_img_2_1920x1078.png");
        background-size: 100% auto;
        background-repeat: no-repeat;
        clear: both;
        width: 100%;
        min-height: 83vh;
    }
    &-table {
        &-item {
            width: 100%;
        display: flex;
        color: white;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        &--left, &--right {
            padding: 2rem;
            font-size: 28px;
            &-span {
                padding-left: 3rem;
            }
        }
        &--right {
            border-left: 1px solid white;
        }
        }
    }
    &-ticker {
        padding: 0 3rem;
        &--message {
            font-size: 38px;
            text-transform: uppercase;
        }
    }
}