.main {
    margin: 4rem 0;
    &-image {
        background: url("../.././assets/img/mla_img_1_1920x1080.png");
        background-size: 100% auto;
        background-repeat: no-repeat;
        clear: both;
        width: 100%;
        min-height: 100vh;
    }
}