@import "../../../app.scss";


.header {
    &-nav {
        padding: 2rem;
        display: flex;
        &--menu {
            display: flex;
            margin-left: auto;
            margin-right: 0;
            gap: 5rem;
            font-size: 20px;
            padding-top: 2.5rem;
            position: relative;
        }
        &--prices {
            position: absolute;
            top: 6rem;
            left: 9rem;
            width: 27%;
            padding: 0.5rem 1rem;
            display: block;
            border: 1px solid $textColor;
            text-decoration: underline;
        }
    }
    &-head {
        width: 47%;
        margin: auto;
        &--title {
            font-weight: normal;
            font-size: 30px;
            text-transform: uppercase;
        }
        &--cta {
            color: $textColor;
            border: .8px solid $textColor;
            text-transform: uppercase;
            background-color: inherit;
            padding: .4rem .7rem;
            margin-top: 3rem;
        }
    }
}