// File imports
@import "~bootstrap/scss/bootstrap";
@import "components/Header/Nav";
@import "components/Main";
@import "components/Main/Appointment/";
@import "components/Main/Prices/";

// Style
body {
  margin: 0;
  font-family: 'Botanika Mono Regular', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
