// Tailwind CSS
@tailwind base;
@tailwind components;
@tailwind utilities;

// File imports
@import "~bootstrap/scss/bootstrap";

// Style
body {
  margin: 0;
  font-family: "Botanika Mono Regular", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// VideoJS styles - reproduction EXACTE du style Fela original + centrage
.mobile-video {
  .video-js {
    height: 45vh !important;
  }
  .vjs-tech {
    object-fit: cover !important;
  }
}
